$cc_backdrop__backgroundColor: rgba(0, 0, 0, 0.5) !default;
$cc_panel__borderRadius: 4px !default;
$cc_panel__boxShadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2),
  5px 5px 10px 0 rgba(0, 0, 0, 0.19) !default;
$cc_panel__zIndex: 1000 !default;
$cc_panel__backgroundColor: #333 !default;

$cc_separator__border: 1px solid #555 !default;

$cc_link__color: #00aa3e !default;
$cc_text__color: #eee !default;
$cc_textMuted__color: #999 !default;

$cc_switch__backgroundColor: #0885ba !default;

$cc_button__backgroundColor: #555 !default;
$cc_button__color: #fff !default;
$cc_button__border: none !default;
$cc_button__borderRadius: 4px !default;

$cc_buttonSuccess__backgroundColor: #00aa3e !default;
$cc_buttonSuccess__color: $cc_button__color !default;
$cc_buttonSuccess__border: none !default;

@import "./Klaro/klaro.scss";
